/*----------------------------------------*/
/* 05. THEME CSS START
/*----------------------------------------*/



// Prealoder
.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.site-preloader {
  width: 80px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $primary;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: preloader 1s infinite linear;
}

@keyframes preloader {
  to {
    transform: rotate(1turn)
  }
}


// Scroll to Top
.scroll--top {
  position: fixed;
  width: 36px;
  height: 36px;
  bottom: 0;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1B1A1A;
  color: #fff;
  cursor: pointer;
  border-radius: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;

  &.showed {
    opacity: 1;
    bottom: 20px;
    visibility: visible;
  }

  &:hover {
    color: #1B1A1A;
    background-color: $primary;
  }
}





.img-reveal {
  visibility: hidden;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: left;
  }

}



// Desktop OffCanvas

.desktop-offCanvas{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #151515b5;
    z-index: 9999;
    top: 0;
    opacity: 0;
    visibility: hidden;
    right: 0;
    transition: all 0.5s;

    &.open{
      visibility: visible;
      opacity: 1;

      .offCanvas-container{
        right: 0;
      }
    }

    .offCanvas-container{
      position: fixed;
      height: 100%;
      width: 400px;
      background-color: $white;
      top: 0;
      right: -430px;
      padding: 40px 30px;
      transition: all 0.5s;

      .offcanvas-header{
        margin-bottom: 50px;
        .btn-Close{
          height: 40px;
          width: 40px;
          border-radius: 6px;
          background-color: $primary;
          color: $black;
          font-size: 18px;
          transition: all 0.3s;

          i{
            transition: all 0.5s;
          }

          &:hover{
            background-color: $white;
            border-color: $primary;
            color: $black;

            i{
              transform: rotate(90deg);
            }
          }
        }
      }

      .offCanvas-body{

        h4{
          font-size: 30px;
          color: $black;
          margin-top: 20px;
          margin-bottom: 25px;
        }
        ul{
          li{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 25px;


            a{
              font-size: 18px;
              font-family: $outfit-font;
              font-weight: 500;
              color: $black;

              &:hover{
                color: $primary;
              }
            }
          }
        }
      }

    }
}