/*----------------------------------------*/
/* 06. BUTTON CSS START
/*----------------------------------------*/

.primary-btn{
  font-family: $outfit-font;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  background-color: transparent;
  padding: 12px 20px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  display: inline-block;
  &.style_01{
    border-radius: 11px !important;
    -webkit-border-radius: 11px !important;
    -moz-border-radius: 11px !important;
    -ms-border-radius: 11px !important;
    -o-border-radius: 11px !important;
}
  i{
    margin: 0px 10px;
  }

  &::after{
    content: "";
    position: absolute;
    width: 51%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $primary;
    z-index: -1;
    transition: all 0.4s;
  }
  &::before{
    content: "";
    position: absolute;
    width: 51%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $primary;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover{
    color: $white;
    background-color: black;
    border-color: 1px solid $primary;

    &::after{
      width: 0;
    }
    &::before{
      width: 0;
    }
  }

  i{
    margin-right: 8px;
  }

  &.style-transparent{
    color: $black;
    border-color: $border;

    &::after{
      background-color: transparent;
    }
    &::before{
      background-color: transparent;
    }

    &:hover{
      color: $white;
      background-color: $primary;
      &::after,
      &::before{
        background-color: $primary;
      }
    }
  }

  &.style-no-bg{
    background-color: transparent;
    color: $black;
    padding-left: 0;

    &::after,
    &::before{
      display: none;
    }

    &:hover{
      background-color: $primary;
      padding-left: 30px;
    }
  }
  &.style-4{
    color: $white;
    border: 1px solid $border;

    &::after,
    &::before{
      display: none;
    }    

    &:hover{
      color: $black;
      background-color: $primary;
      
    }
  }
  &.style-5{
    background-color: transparent;
    color: $white;
    border: none;
    padding: 0;

    &::after,
    &::before{
      display: none;
    }

    &:hover{
      color: $primary;
    }
  }
}

// .read-more{
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 21px;
//   color: $black;
//   display: flex;
//   align-items: center;
//   margin-top: 20px;
//   transition: all 0.3s;

//   i{
//     margin-left: 20px;
//   }

//   &:hover{
//     color: $primary;
//   }
// }


