/*
Error: Invalid CSS after "   padding: 20px ": expected ";", was "!;"
        on line 94 of scss/layout/_more-info.scss
        from line 67 of scss/style.scss

89: }
90: }
91: 
92: @include sm{
93:   .elementor-4006 .elementor-element.elementor-element-f44d8d8 .more-info{
94:    padding: 20px !;
95: 
96:   }
97: }

Backtrace:
scss/layout/_more-info.scss:94
scss/style.scss:67
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in 'Sass::SCSS::Parser.expected'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in 'Sass::SCSS::Parser#expected'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in 'Sass::SCSS::Parser#tok!'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:815:in 'block in Sass::SCSS::Parser#try_declaration'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1284:in 'Sass::SCSS::Parser#rethrow'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:820:in 'Sass::SCSS::Parser#try_declaration'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:743:in 'Sass::SCSS::Parser#declaration_or_ruleset'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in 'Sass::SCSS::Parser#block_child'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in 'Sass::SCSS::Parser#block_contents'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in 'Sass::SCSS::Parser#block'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in 'Sass::SCSS::Parser#declaration_or_ruleset'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in 'Sass::SCSS::Parser#block_child'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in 'Sass::SCSS::Parser#block_contents'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in 'Sass::SCSS::Parser#block'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:257:in 'Sass::SCSS::Parser#include_directive'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in 'Sass::SCSS::Parser#special_directive'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in 'Sass::SCSS::Parser#directive'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in 'Sass::SCSS::Parser#block_child'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in 'Sass::SCSS::Parser#block_contents'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in 'Sass::SCSS::Parser#stylesheet'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in 'Sass::SCSS::Parser#parse'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in 'Sass::Engine#_to_tree'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/engine.rb:321:in 'Sass::Engine#to_tree'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:323:in 'block in Sass::Tree::Visitors::Perform#visit_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in 'block in Sass::Stack#with_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in 'Sass::Stack#with_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in 'Sass::Tree::Visitors::Perform#visit_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in 'block in Sass::Tree::Visitors::Base#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in 'Sass::Tree::Visitors::Base#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in 'block in Sass::Tree::Visitors::Perform#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in 'Sass::Tree::Visitors::Perform#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'block in Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in 'Sass::Tree::Visitors::Perform#visit_root'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in 'Sass::Tree::Visitors::Perform.visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in 'Sass::Tree::RootNode#css_tree'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in 'Sass::Tree::RootNode#render_with_sourcemap'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in 'Sass::Engine#_render_with_sourcemap'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in 'Sass::Engine#render_with_sourcemap'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in 'Sass::Plugin::Compiler#update_stylesheet'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in 'block in Sass::Plugin::Compiler#update_stylesheets'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in 'Array#each'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in 'Sass::Plugin::Compiler#update_stylesheets'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in 'Sass::Plugin::Compiler#on_file_changed'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in 'block in Sass::Plugin::Compiler#watch'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in 'SassListen::Event::Config#call'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in 'SassListen::Event::Processor#_process_changes'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in 'block in SassListen::Event::Processor#loop_for'
<internal:kernel>:168:in 'Kernel#loop'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in 'SassListen::Event::Processor#loop_for'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in 'SassListen::Event::Loop#_wait_for_changes'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in 'block in SassListen::Event::Loop#setup'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in 'block in SassListen::Internals::ThreadPool.add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"   padding: 20px \": expected \";\", was \"!;\"\A         on line 94 of scss/layout/_more-info.scss\A         from line 67 of scss/style.scss\A \A 89: }\A 90: }\A 91: \A 92: @include sm{\A 93:   .elementor-4006 .elementor-element.elementor-element-f44d8d8 .more-info{\A 94:    padding: 20px !;\A 95: \A 96:   }\A 97: }"; }
